@import "./color_schemes/light";

$body-font-family: "Roboto", sans-serif;
$mono-font-family: "Roboto Mono", monospace;

$blue-000: #03A9F4;
$blue-100: #039BE5;
$blue-200: #0288D1;
$blue-300: #0277BD;
$grey-lt-000: #FAFAFA;
$grey-lt-100: #F5F5F5;
$grey-lt-200: #EEEEEE;
$grey-lt-300: #E0E0E0;
$grey-dk-000: #757575;
$grey-dk-100: #616161;
$grey-dk-200: #424242;
$grey-dk-250: #212121;
$grey-dk-300: #000000;

$link-color: $blue-000;
$btn-primary-color: $blue-000;

$color-scheme: light;
$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-000;
$base-button-color: #f7f7f7;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;